body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Teko', serif;
  font-size: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#bttns {
  text-align: center;
    text-decoration: none;
}

.dice {
  position: relative;
  display: inline-block;
  top: 200px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(11, 88, 70, 0.8);
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 150px;
  padding-left: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.618em;
  letter-spacing: 30px;
  line-height: 3;
  text-align: center;
}

.dice:hover {
  background-color: rgba(11, 88, 70, 0.6);
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
h1 {
  position: relative;
  top: 200px;
  text-align: center;
}

#getRqst {
  display: none;
  font-size: 2.618em;
}
#rqst {
    position: relative;
    display: none;
    border: none;
    color: #333;
    border-radius: 10px;
    width: auto;
    font-size: 1em;
    text-indent: 20px;
}

.results {
    color: rgba(255, 255, 255, 0.8);
}
  h3 {
    font-size: 2.618em;
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
  }
    #search {
      font-style: italic;
    }
  .title {
    position: relative;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 4.236em;
    font-weight: bold;
  }
  .extract {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.618em;

  }
  a:link, a:active, a:visited{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
  }
  a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }

  #rslt {
    padding-bottom: 20px;
  }
  #rslt:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }